.cell{
    stroke-width:1;
    stroke:black;
}
.scarf-display{
  background-color: #FFFFFF;
  overflow-y: auto;
  height:35em;
}
.scarf-svg{
}
.primary{
 fill:purple;
}
.secondary{
  fill:gold;
}
/* Form */
#select-rule input, .select-color input{
  width:4em;
}
#select-rule{
  padding-top:0em;
}
.select-color input{
  margin-bottom: 0em;
}
.edit-form header{
  margin-bottom: 0em;
}
