@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KnerdyKnitter.Models;

<h1>Create a pattern!</h1>

<svg class="scarf" width="10000" height="10000">
    @for (var row = 0; row < Model.Creation.Length/ Model.Creation.GetLength(0); row++)
    {
        @for (var col = 0; col < Model.Creation.GetLength(0); col++)
        {
          var xValue=col*10;
          var yValue=row*10;
          if (Model.Creation[col, row]==0)
          {
              <rect id="" x="@xValue" y="@yValue" width="10" height="10" class="primary" style="fill:purple;stroke-width:1;stroke:black;"/>
          }
          else
          {
              <rect id=""  x="@xValue;" y="@yValue;" width="10" height="10" class="secondary" style = "fill:purple;stroke-width:1;stroke:black;"/>
          }


        }
    }
</svg>
